In [8]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [9]:
df=pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [10]:
import math
median=df.bedrooms.median()
median

4.0

In [11]:
df.bedrooms=df.bedrooms.fillna(median)

In [12]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [13]:
reg=linear_model.LogisticRegression()
reg

LogisticRegression()

In [18]:
reg.fit(df[['area','bedrooms','age']],df.price)

c:\users\aditi\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [19]:
reg.predict([[3000,3,40]])

array([595000], dtype=int64)

In [20]:
reg.predict([[2500, 4, 5]])

array([810000], dtype=int64)